*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: auto;
    width: auto;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}

header{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
    border-bottom: 2px inset black;
}

main{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menus{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight:bold;
    font-size:24px;
    padding:10px;
}

.aboutMe{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    border:1px solid yellow
}

.infos{
    width: 40%;
    height: 200px;
    border:1px solid green;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.infos p{
    font-size: 24px;
    filter:drop-shadow(3px 3px 2px)
}

.picture{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-image: url(img/profilepic.png);
    background-size:cover;
    box-shadow: 8px 1px 5px purple;
}

.traco{
    height: 170px;
    width: 5px;
    background-color: purple;
}

.projects{
    margin-top: 50px;
}

.links{
    font-size:24px;
    background: rgba(128,128,128,0.2);
    border-radius:20px;
    padding:20px;
    margin:20px 0 20px 0;
}

.showProjects{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
}

.showProjects img{
    width: 30%;
}

.project1,.project2,.project3,.project4{
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin:10px 0 10px 0;
}

.showProjects span{
    width: 60%;
    margin:0 0 0 50px;
    font-size:20px
}

.contact{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    border:1px inset purple;
    margin:20px 0 50px 0;
}

.contact .email{
    width: 90%;
    font-size: 30px;
    background: rgba(128,128,128,0.2);
    border-radius:20px;
    padding:20px;
    margin:20px 0 20px 0;
}

.socials{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:10px;
    }

.socials img{
    width: 50px;
    height: 50px;
}

.twitter,.instagram,.linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.socials p{
    margin-bottom:10px;
}

a{
    text-decoration: none;
    color:inherit;
}